files that do not get uploaded/
BOEM_halfdeg_grid_latlon_2021.cpg
BOEM_halfdeg_grid_latlon_2021.dbf
BOEM_halfdeg_grid_latlon_2021.prj
BOEM_halfdeg_grid_latlon_2021.qpj
BOEM_halfdeg_grid_latlon_2021.shp
BOEM_halfdeg_grid_latlon_2021.shx
CollideR_CRM_model_runs_20220304_122542.zip
CollideR_CRM_model_runs_20220304_122555.RData
GitHub_link_and_metadata.docx
Options that did not make it into the final tool
Piping_Plover_turbModel15.csv
Piping_Plover_turbModel15_params.csv
Piping_Plover_turbModel6.csv
Piping_Plover_turbModel6_params.csv
SCRAM.png
TurbineData_example.csv.old
TurbineData_example.zip.old
TurbineData_example_low_conf.csv.old
app_beta_ipc.R
report.Rmd
report.Rmd.old
report_BRI.Rmd
sandbox.R
style.css
~$tHub_link_and_metadata.docx
species_mean_prob_map.mxd
calcmean_movement_prob.R
flt_ht_data_proc.R
report_BRI.Rmd.old2
.html
RMD_sandbox.Rmd
RMD_sandbox.pdf
Red_Knot_ht_dflt.csv.old
